* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

/* 404 */
.btn-home {
  display: inline-block;
  border: none;
  background: #fff;
  color: #333;
  padding: 7px 20px;
  cursor: pointer;
}

.btn-home:hover {
  background: #555;
  color: #fff;
}

/* SortMenus.js */
.sort-container { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;  
  } 

@media screen and (max-width: 520px) {
  /* change root font-size */
  html {
    font-size: 12.5px;
  }
  .sort-container > h2 {
    width: calc(100% / 1);
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .sort-container > h2 {
    width: calc(100% / 3);
  }
  .sort-container > h2:first-child {
    width: 100%;
  }
}
